/**
!/.gitignore
!/.gitattributes

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/LICENCE
!/justfile
!/Cargo.toml
!/rustfmt.toml
!/pyproject.toml
!/*.lock
!/.coveragerc
!/.behaverc
# for githook
!/.pre-commit-config.yaml
# for git workflows
!/.github
!/.github/workflows
!/.github/workflows/*.yaml

# ----------------------------------------------------------------
# PROJECT FILES
# ----------------------------------------------------------------

!/templates
!/templates/template*

!/docs
!/docs/**/
!/docs/*.bib
!/docs/*.png
!/docs/**/*.md

!/models
!/models/*.yaml

!/src
!/src/**/
!/src/**/*.py
!/src/setup/config.yaml

!/tests
!/tests/**/
!/tests/**/*.py
!/tests/behave/**/*.feature
!/tests/behave/resources/mock*
# ensure that created data is not synchronised!
/tests/behave/data

!/examples
!/examples/README.md
!/examples/setup
!/examples/setup/config.yaml
!/examples/data
!/examples/data/*.csv
!/examples/output
!/examples/output/*.png
!/examples/output/*.html
!/examples/*.py
!/examples/*.ipynb

!/notebooks
!/notebooks/*.ipynb

!/dist
!/dist/VERSION

# ----------------------------------------------------------------
# FORCE REMOVE
# ----------------------------------------------------------------

**/.session
**/logs
**/.vscode
**/*.tmp
**/.DS_Store
**/__archive__*
**/__pycache__*
/build

# ----------------------------------------------------------------
# FORCE RETAIN
# ----------------------------------------------------------------

!**/.gitkeep
