*
!/.gitignore

# ----------------------------------------------------------------
# ROOT
# ----------------------------------------------------------------

!/README.md
!/CONTRIBUTING.md
!/LICENCE
!/justfile
!/pyproject.toml
!/requirements.txt
!/.coveragerc
# for githook
!/.pre-commit-config.yaml
# for workflows
!/.github
!/.github/**/
!/.github/**/*.yaml

# ----------------------------------------------------------------
# PROJECT
# ----------------------------------------------------------------

!/scripts
!/scripts/*.py

!/examples
!/examples/README.md
!/examples/setup
!/examples/setup/config.yaml
!/examples/data
!/examples/data/*.csv
!/examples/output
!/examples/output/*.png
!/examples/output/*.html
!/examples/*.py
!/examples/*.ipynb

!/dist
!/dist/VERSION

!/templates
!/templates/template-*.yaml

!/src
!/src/**/
!/src/**/*.py
!/src/**/*.yaml
/src/models/generated

!/tests
!/tests/**/
!/tests/**/*.py

!/notebooks
!/notebooks/*.ipynb

!/documentation
!/documentation/**/
!/documentation/*.bib
!/documentation/*.png
!/documentation/**/*.md

# ----------------------------------------------------------------
# FORCE REMOVE ARTEFACTS
# ----------------------------------------------------------------

**/.DS_Store
**/__pycache__
**/*__archive__*
**/sandbox*

# ----------------------------------------------------------------
# FORCE INCLUDE
# ----------------------------------------------------------------

!/**/.gitkeep
