pip>=23.2.1
wheel>=0.41.0
setuptools>=68.0.0
pathlib>=1.0.1
pathspec>=0.11.1
typing>=3.7.4.3
codetiming>=1.4.0
asyncio>=3.4.3
anyio>=3.7.1
toml>=0.10.2
python-dotenv>=1.0.0
jsonschema>=4.18.4
lazy-load>=0.8.3
pyyaml>=6.0.1
dataclasses>=0.6
pydantic==1.10.12
pydantic-extra-types==0.0.1
numpy>=1.24.3
pandas>=2.0.3
scipy>=0.0.0
pint>=0.22
findpeaks>=2.5.2
lmfit>=1.2.2
tabulate>=0.9.0
matplotlib>=3.7.2
imageio>=2.31.1
ipython==8.15.0
jupyter>=1.0.0
jupyterthemes>=0.20.0
widgetsnbextension>=4.0.9
ipywidgets>=8.1.1
nbconvert[webpdf, qtpdf]>=7.2.3
datetime>=5.2
pendulum>=2.1.2
lorem>=0.1.1
coverage[toml]>=7.2.7
pytest-cov>=4.1.0
pytest-lazy-fixture>=0.6.3
pytest-order>=1.1.0
pytest>=7.4.0
testfixtures>=7.1.0
datamodel-code-generator>=0.21.2
openapi-generator-cli>=4.3.1
openapi-generator>=1.0.6
pre_commit>=3.4.0
black[d, jupyter]>=23.7.0
pybadges>=3.0.0
