# ----------------------------------------------------------------
# PROJECT SETTINGS
# ----------------------------------------------------------------

PROJECT_NAME="herz"
# tags as a single string separated by commas
# PROJECT_TAGS="tag1,tag2,tag3"
PROJECT_TAGS="local,test"

# ----------------------------------------------------------------
# SETTINGS FOR HTTP-REQUESTS
# ----------------------------------------------------------------

HTTP_IP="127.0.0.1"
HTTP_PORT=8000
HTTP_TIMEOUT=30
HTTP_USER="admin"
HTTP_PASSWORD="test1234"

# Client credentials - only needed client-side
# NOTE: To register client, call (server-side) 'just registration INSERT {user} {token}'
CLIENT_USER="developer"
CLIENT_TOKEN="test1234"

# ----------------------------------------------------------------
# LOCAL SYSTEM SETTINGS
# ----------------------------------------------------------------

# your system's command python3
# ... linux users
PYTHON_PATH="python3.12"

# ... windows users
# PYTHON_PATH="py -3.12"
